In [3]:
from sklearn import datasets 
import pandas as pd 
iris = datasets.load_iris()

In [7]:
iris.data[:8]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2]])

In [8]:
df = pd.DataFrame(    
    iris.data,    
    columns=iris.feature_names 
)

In [9]:
df['target'] = pd.Series( iris.target )

In [10]:
df['target_names'] = df['target'].apply(lambda y: iris.target_names[y])

In [11]:
df.sample(n=6)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
98,5.1,2.5,3.0,1.1,1,versicolor
38,4.4,3.0,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
110,6.5,3.2,5.1,2.0,2,virginica
73,6.1,2.8,4.7,1.2,1,versicolor
25,5.0,3.0,1.6,0.2,0,setosa

In [13]:
df.sample(n=6, random_state=42)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
73,6.1,2.8,4.7,1.2,1,versicolor
18,5.7,3.8,1.7,0.3,0,setosa
118,7.7,2.6,6.9,2.3,2,virginica
78,6.0,2.9,4.5,1.5,1,versicolor
76,6.8,2.8,4.8,1.4,1,versicolor
31,5.4,3.4,1.5,0.4,0,setosa

In [14]:
from sklearn.model_selection import train_test_split 
df_train, df_test = train_test_split(df, test_size=0.3)

In [16]:
x_train = df_train[iris.feature_names]
x_test = df_test[iris.feature_names]

y_train = df_train['target'] 
y_test = df_test['target']

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
clf = DecisionTreeClassifier() 
clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [22]:
y_test_pred = clf.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_test, y_test_pred)

0.9555555555555556

In [24]:
pd.DataFrame(  {    'feature_names': iris.feature_names,
                 'feature_importances': clf.feature_importances_  } ).sort_values(  'feature_importances', ascending=False ).set_index('feature_names')

                   feature_importances
feature_names
petal length (cm)             0.944133
petal width (cm)              0.028127
sepal width (cm)              0.019131
sepal length (cm)             0.008609